#comment_1 {
    height: 40px;
    background-color: rgb(66, 66, 66);
    position: relative;
    top: 46.3px;
    display: flex;
}

#C_1 {
    margin: 10px 0px 0px 30px;
}

#comment_2 {
    height: 55px;
    background-color: rgb(66, 66, 66);
    position: relative;
    top: 48px;
    display: flex;
}

#C1 {
    display: flex;
}

.p1 {
    margin: 20px 0px 0px 40px;
}

#C2 {
    display: flex;
    position: absolute;
    right: 80px;
}

.p2{
    margin: 20px 0px 0px 40px;
}