* {
    padding: 0px;
    margin: 0px;
    font-family: Arial;
}

body {
    color: #e8e8e8;
    background-color: #202124;
}

#header {
    height: 60px;
    display: flex;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 15px;
}


#left {
    width: 200px;
    margin-left: 50px;
}

#right {
    position: absolute;
    right: 10px;
}